
@{
    // it can be a landing page for the application
}

<h1> Wellcome in cash guard</h1>
<h1> @SharedValues.CurUser.photoPath</h1>
<h1>HI HI hI</h1>

<h1>
    @SharedValues.DataRangeFrom ;
    @SharedValues.DataRangeTo ;
@SharedValues.Currency ;
@SharedValues.DeleteOldTo ;
</h1>