@* 
@{
    // it can be a landing page for the application
}

<h1> Wellcome in cash guard</h1>
<h1> @SharedValues.CurUser.photoPath</h1>
<h1>HI HI hI</h1>

<h1>
@SharedValues.DataRangeFrom 
</h1>
<h1>
@SharedValues.DataRangeTo 
</h1>
<h1>
@SharedValues.Currency 
</h1>
<h1>
@SharedValues.DeleteOldTo 
</h1>
<h1>
@SharedValues.CurUser.Sign_Up_Date 
</h1> *@